---
title: Timeline
wip: true
order: -1
---
<script>
   import Timeline from '$lib/components/Timeline.svelte';
   import Email from '$lib/components/Email.svelte';
   import timelineItems from './timeline.json';
</script>

<Timeline
   title="Timeline"
   items={timelineItems}
/>
