---
comment: "Even colder. The sarcasm is an expression of Thor’s frustration with trying to lead Lyric to the “right” answer.
<br/><br/>
Thor is fixated on having Lyric come to the conclusion themselves. Thor knows the effect of self-persuasion, and that <b>Lyric is more likely to truly believe they wants to be devoted to Thor if they come up with the answer by themselves.</b>"
---