---
color: red
comment: "Thor disengages the conversation, <b>punishing</b> Lyric by denying him conversation, engagement, and attention. 
<br/><br/>
He blames Lyric for being unclear, rather than asking them for clarity, because that would be guiding Lyric too closely. So, rather than asking Lyric and having them think it’s Thor’s desire, Thor victimizes himself. <b>By framing Lyric as responsible for Thor’s emotions, Thor further encourages Lyric's thoughts and words to align with his expectations.</b>"
---