---
title: Moving
---

<script>
   import Messages from "$lib/components/Messages.svelte";
</script>

# Moving
In this passage, Jason
- brings up the topic of moving
- suggests that Lyric to move close to him
- reinforces the idea of moving closer with a state of fact, **detached from his own desire**
- **states that it is explicitly Lyric’s idea** to move in with him
- **praises Lyric’s intelligence after they agree** with the idea

<Messages from="49574" to="49608" />

