---
comment: "Some of it is… a bit conditional. Dating may mean different things to different people. It’s important for everyone involved to establish clear expectations and commitments. Like, if you want to sleep with other people while dating, you should probably run that by anyone you are dating. I don’t think there is anything malicious here, <b>this highlight is just Jason’s own perspective (or at least the perspective he wants Lyric to have)</b>."
---