---
comment: "While he is saying this is what he does (\"for me\"), this is not truthful because of <b>Thor's marriage with his wife and his sexual relationship with Shaye</b>. <b>Thor is simply stating how he wants Lyric to behave.</b>"
---
