---
comment: "Yeah no this is not the same thing! Thor is eroding Lyric's trust in their own wants. \"You say you don't want a relationship, but I know you want it and I will make you realize it.\". And he calls me a creep."
---