---
comment: "It shouldn't be very surprising, considering Lyric is 20 years old and has no IRL dating experience. Thor knows is considerably more mature than Lyric, and blames Lyric for being less mature.
<br/><br/>
This is also painting a black and white: Either Lyric is inferior and should trust Thor to define relationship dynamics, or Lyric is purposefully trying to manipulate Thor. Lyric knows he is not trying to manipulate Thor, therefore Lyric should not trust themselves and believe in Thor's reality."
---