---
comment: "Thor's response to someone coming onto him is a simple \"You want a relationship with me even if you say you don't want one. Because I have established you are inferior and stupid in every way, you will be trained into believing that your wants are second to my approval.\""
---