---
title: Twitter Thread
order: 99
---

<script>
   import tweets from '$lib/tweets.json';
   import KvTable from '$lib/components/KvTable.svelte';
   import Tweet from '$lib/components/Tweet.svelte';
</script>

<KvTable rows={[
      ["Archival Software", "TwSearchExporter"],
      ["Exported on", "February 27, 2025, 7:02:55 PM PST"],
      ["Query", "LyricWulf (since:2019-03-01) (until:2019-06-01)"]
]} />

{#each Object.keys(tweets) as twid}
   <Tweet {twid} />
{/each}